.stopwatch-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stopwatch-section .watch-face {
    display: flex;
    text-align: center;
}

.buttons {
    display: flex;
    gap: 20px;
}
