@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.calculator .grid-button-long {
    grid-area: grid-button-long;
}

.calculator .controls-section {
    display: grid;
    grid-template-areas: 
    '. . . .'
    '. . . .'
    '. . . .'
    '. . . .'
    'grid-button-long grid-button-long . .';
    height: 380px;
    width: 300px;
    gap: 1px;
    background-color: rgb(220, 220, 220);
}

.btn-orange {
    background-color: rgb(231, 142, 40);
    color: white;
}

.btn-orange:hover {
    background-color: rgb(202, 118, 16);
    color: white;
}

.btn-orange:active {
    background-color: rgb(202, 118, 16);
    color: black;
}

.btn-white {
    background-color: white;
    color: black;
}

.btn-white:hover {
    background-color: rgb(232, 232, 232);
    color: black;
}

.btn-white:active {
    background-color: rgb(232, 232, 232);
    color: rgb(231, 142, 40);
}

.calculator .output-section {
    width: 300px;
    height: 65px;
    background-color: rgb(87, 87, 87);
    border-inline: solid 10px rgb(87, 87, 87);
    overflow: hidden;
}

.btn {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
}

.btn-white-error {
    background-color: white;
    color: black;
    animation: btn-white-error-animation 0.5s ease-out;
}

.btn-white-error:hover {
    background-color: rgb(232, 232, 232);
    color: black;
    transition: 0.5s linear;
}

.btn-white-error:active {
    background-color: rgb(239, 75, 43);
    color: black;
    transition: 0s linear;
}

.btn-orange-error {
    background-color: rgb(231, 142, 40);
    color: white;
    animation: btn-orange-error-animation 0.5s ease-out;
}

.btn-orange-error:hover {
    background-color: rgb(202, 118, 16);
    color: white;
    transition: 0.5s linear;
}

.btn-orange-error:active {
    background-color: rgb(239, 75, 43);
    color: black;
    transition: 0s linear;
}

@keyframes btn-white-error-animation {
    from { background-color: rgb(239, 75, 43); }
    to { background-color: rgb(232, 232, 232); }
}

@keyframes btn-orange-error-animation {
    from { background-color: rgb(239, 75, 43); }
    to { background-color: rgb(202, 118, 16); }
}

.calculator-display {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
    width: 100%;
    font-size: 2.3rem;
    font-weight: 400;
    color: white;
}
